<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <link rel="icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon" />
   <link rel="shortcut icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon" />
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="onlyan" />
   <link href="/atom.xml" rel="alternate" title="Onlyan's bug" type="application/atom+xml">

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <!-- color CSS -->
   <link rel="stylesheet" href="/css/color.css" type="text/css" />

</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Onlyan's bug</a>
    <a class="extra" href="/">home</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <img src="/favicon.ico" />
    <div class="contact">
      <p>
        onlyan<br />
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/onlyan-fsy/">github.com/onlyan-fsy</a>
      </p>
    </div>
  </div>
</div>

</body>
</html>
